.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}


@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}

	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}

	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}



	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}

}

.btn{
    background-image:none;
}


@media(max-width:1199px){
  .subtotal_table{min-width: 400px;}
  .continue_search_mobile{padding: 15px 0px;}
  .continue_search_mobile .btn.btn-warning{padding: 8px;}
  .continue_search_mobile .btn.btn-success{padding: 0px 15px;}

}
@media(max-width:991px){
  .mobile_form{ width: 100% !important;}
  .mobile_form .form-group{margin: 0px;margin-top: 10px}
  .mobile_form .input-group{display: inline-block;}
  .mobile_form input.form-control{max-width: 100%;width: 100%;}
  .mobile_form .input-group-btn{top: 6px;}
}
@media(max-width:600px){
  .subtotal_table ul{padding-left: 0px;}
  .nomargin a{color: #fff;}
  .subtotal_table{padding: 0px;border: 0px;}
  .mobile_form .input-group{width: 100%;}
  .mobile_form .input-group-btn{top: 0px;}
  .responsive_checkout{padding: 17px 0px;}
  .table_centermobile{text-align: center;}
  .mobile_quantity{display: inline-block;width: 100%;text-align: center}
  .table_centermobile app-quantity-modifier{display: inline-block;margin-top: 10px;margin-bottom: -13px;}
  .table_centermobile .btn.btn-sm{width: 70px;font-size: 16px;height: 35px;float: none;    margin: 0 0px 15px;}
  .table_res_mobile tbody{display:inline-block;width:100%;}
  .table_res_mobile{display:block}
  .table_res_mobile tr{display: block;width: 100%;}
  .table_res_mobile tr td{display: block;width: 100% !important; min-width:0px !important;}
  .table_res_mobile tfoot{display:inline-block;width:100%;}
  .mobile_form input.form-control{width: 200px;}
  .subtotal_table{min-width: 100%;}
  .responsive_checkout{border: 0px;}
  .no_brdr{border: 0px;}
}
