<div class="whatIsCbdSec commonSec">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="secHead">What is CBD ?</h2>
        <p>First, we must recognize the human body and its endocannabinoid system (ECS). The ECS is responsible for controlling the brain,
           endocrine, nervous and immune systems. It has a regulatory effect and response to stress, secretion of hormones and overall homeostasis. 
           The ECS maintains our health by creating balance within the body.</p>
         <p>When the ECS becomes unbalanced, the systems in which IT controls will begin to dysfunction.
            This leads to ailments within the body. The body seeks to regulate itself again and find that healthy EQUILIBRIUM.</p>  

      </div>
      <div class="col-md-6">
        <img src="assets/images/aboutCBD.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</div>

<div class="benifitCbdSec commonSec">
    <div class="container">
      <h2 class="secHead text-center text-white">WHAT ARE THE BENEFITS OF CBD?  </h2>

      <div class="row">
        <div class="col-md-6 col-lg-3">
            <div class="cbd-icon-col">
                <img src="assets/images/Stress-w.webp">
                <h4>Relief from everyday stress</h4>
              </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="cbd-icon-col">
                <img src="assets/images/Sleep-w.webp">
                <h4>Support for deep and healthy sleep cycles</h4>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="cbd-icon-col">
                <img src="assets/images/Focus-w.webp">
                <h4>A sense of calm and focus</h4>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="cbd-icon-col">
                <img src="assets/images/recovery-w.webp">
                <h4>Healthy recovery from inflammation</h4>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="cbdAppliSec commonSec">
    <div class="container">
      <div class="row">
          <div class="col-sm-5">
             <div class="imgBox"> <img src="assets/images/purcbd-appli.JPG" class="img-fluid" alt=""></div>
          </div>
          <div class="col-sm-7">
            <p>There are lots of amazing applications for CBD that are just starting to be understood by science. Pain relief due to injury, 
              exercising or chronic illness to reduction in anxiety and getting a solid nights sleep. CBD is shaping up to be a mental and physical remedy.
               If you struggle with nausea, insomnia, or even eczema, CBD oil can put you on a path to feeling better both inside and out. Due to the fact that many
                of these studies are not fully completed, we are not able to say that there is a relationship between CBD and the treatment of any of these problems,
                 but theoretically, people have been using CBD for these wellness issues with reported success.</p>
          </div>
      </div>
        
    </div>
 </div>

 <div class="productionSec commonSec">
    <div class="container">
      <h2 class="secHead text-center text-white">OUR PRODUCTION  </h2>
      <p class="text-center">Our CBD products are produced in a clean, modern facility with all lab-tested ingredients and naturally, USA produced hemp.
         We do not want to tarnish the hemp name, so we never jeopardize the quality of our products or our production standards.
          You can trust that every product you purchase from PurCBD is of the highest quality!</p>
    </div>
</div>

