.required{color:red;}
select{max-width: 100%;}
textarea{margin: 0px; width: 1224px; height: 63px; max-width: 100%;}
#registration0{padding: 10px;}
form#checkoutform .submit-button{margin-left: 0px;}
.btn{
    background-image: none;
}
.same-checkbox{
    font-size: 1.1rem;
    font-weight: 800;
    color : #003366;
    margin-right: 5px;
    padding-bottom: 5px;
  }
.redeem-msg{
    margin-bottom: 5px;
    font-weight: 700;
    text-align: center;
    font-size: 1.4em;
    padding: 15px 0px;
}