<div id="mainContainer">
  <div class="container">
    <div class="row">
      <!--START: LEFT BAR-->
      <app-my-account-left-menu></app-my-account-left-menu>
      <!--END: LEFT BAR-->
      <div id="sidebar-toggle" class="hide">
        <a href="javascript:void(0);">SHOW SIDEBAR
          <i class="fa fa-plus"></i>
        </a>
      </div> 
      <!--END: LEFT BAR-->
      <!--START: FRAME_MID-->
      <!--START: BODY_HEADER-->
      <div class="breadcrumbs"> 
        <a id='catCrumbHomeLink' [routerLink]="['']">Home</a> > My Account > Generic Information
      </div>
      <!--END: BODY_HEADER-->

      <div id="mainContent" class="col-sm-9">
        <section id="registration0">
          <h1 class="page_headers">Generic Information</h1>
          <hr>
          <div class="row">
            <div class="col-sm-4" *ngFor="let single of accessContentList">
              <div class="custom-block-item">
                <div class="item-desc">
                  <h3>{{ single.title }}</h3>
                  <p>{{ single.short_description | limitTo: 140}}</p>
                  <p style="text-align: center;"><a class="btn btn-info readmore" routerLink="/generic-content/{{single.id}}">Read More</a></p>
                </div>
              </div>
            </div>            
          </div>
          <!-- <app-pager></app-pager> -->
        </section>
      </div>
    </div>
  </div>
</div>