<div id="mainContainer">
    <div id="breadcrumbs-wrapper">
        <div class="container">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--START: LEFT BAR-->

            <!--END: LEFT BAR-->
            <!--START: FRAME_MID-->
            <div id="mainContent" class="col-sm-12">
                <section id="category" class="page-layout">
                    <form action="view_category.asp?cat=14" method="post" name="frmsortby" id="frmsortby">

                        <h1 class="category-name">GET THE BEST DEALS WITH THE PURCBD VIP BUYERS CLUB</h1>

                        <!--START: SUB_CATEGORIES-->
                        <!--END: SUB_CATEGORIES-->

                        <!--START: FEATURE_MENU-->
                        <!--END: FEATURE_MENU-->
                        <!--START: ITEMS-->
                        <div id="productCategoryBlock">
                            <div class="category-toolbar">
                                <div class="view-as-btn">
                                    <div class="btn-group">
                                        <a href="javascript:void(0);" id="grid-view" title="Grid View" class="current-view">
                                            <div>
                                                <div class="icon-bar"></div>
                                                <div class="icon-bar"></div>
                                                <div class="icon-bar"></div>
                                            </div>
                                            <span>GRID</span>
                                        </a>
                                        <a href="javascript:void(0);" id="list-view" title="List View">
                                            <div>
                                                <div class="icon-bar"></div>
                                                <div class="icon-bar"></div>
                                                <div class="icon-bar"></div>
                                            </div>
                                            <span>LIST</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-count">Products (Total Items: {{totalItem}})</div>
                                <div class="sort-by">
                                    <!--START: sortbylist-->
                                    <!--END: sortbylist-->
                                </div>
                            </div>
                            <!-- //.category-toolbar -->
                            <!--START: catitemslist-->
                            <!--END: catitemslist-->

                            <section class="section_firstsec">
                                <div class="container">
                                    <div class="row">
                                        <div class="thumblimg_text" *ngFor="let single of package_list">
                                            <div class="">
                                                <div class="thumble_image">
                                                    <img class="img-responsive" *ngIf="single.get_media[0] !== undefined && single.get_media[0]?.image && single.get_media[0]?.image != ''"
                                                        src="{{baseurl}}backend/images/membershipPackage/{{single.get_media[0].image}}"
                                                        alt="{{single.product_name}}" />
                                                    <img class="img-responsive" *ngIf="!single.get_media" src="https://via.placeholder.com/550x300.png?text=No%20Image%20Found"
                                                        alt="{{single.product_name}}" />
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="thumble_image_details">
                                                    <h4>{{single.product_name}}</h4>
                                                    <p>{{single.product_description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <div class="paging"></div>
                        </div>
                        <div class="category-no-products text-center">
                            <div class="alert alert-warning">There are no products to list in this category.</div>
                            <a class="btn btn-alt" href="https://www.budbox.ca">Continue Shopping</a>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

<div id="membershipModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div> -->
            <div class="modal-body">
                <section id="product-details">
                    <form enctype="multipart/form-data" method="post" action="add_cart.asp" name="add" id="add" target="_top">
                        <div class="row">
                            <h1 class="page_headers text-center" id="membershipPackageTitle"></h1>
                            <div class="primary col-sm-6">
                                <div id="mediaContainer">
                                    <div id="mediaBlock">
                                        <!--START: image1-->
                                        <div class="main-image">
                                            <!-- <a href="javascript:void(0);" class="MagicZoomPlus pimagePath" id="listing_main_image_link" style="position: relative; display: inline-block; text-decoration: none; outline: 0px; overflow: hidden; margin: auto; width: auto; height: auto;">
                          title=""> -->
                                            <img class="pimagePath2" align="middle" id="large" name="large" alt="SlyBlends Vape Tanks"
                                                style="opacity: 1;">
                                            <!-- <div class="MagicZoomBigImageCont inner-zoom" style="overflow: hidden; z-index: 100; top: -100000px; position: absolute; width: 100%; height: 100%; left: 0px; opacity: 0;">
                            <div class="MagicZoomHeader" style="position: relative; z-index: 10; left: 0px; top: 0px; padding: 3px; display: none; visibility: hidden;"></div>
                            <div style="overflow: hidden;">
                              <img class="pimagePath2" style="padding: 0px; margin: 0px; border: 0px; width: auto; height: auto; position: relative; left: 0px; top: 0px; transform: translateZ(0px);">
                            </div>
                          </div> -->
                                            <!-- <div class="MagicZoomPup" style="z-index: 10; position: absolute; overflow: hidden; display: none; visibility: hidden; width: 684px; height: 684px; opacity: 0.65; left: 0px; top: 0px;"></div>
                        </a> -->
                                            <!-- <div name="imagecaptiont" id="imagecaptiont" class="item"></div> -->
                                        </div>
                                        <!--END: image1-->
                                        <div id="realmediaBlock">
                                            <div>
                                                <!-- <iframe id="realmedia" src="" frameborder="0" allowfullscreen></iframe> -->
                                            </div>
                                        </div>
                                        <!-- <div class="addl-images">
                        <div class="prod-thumbnails">
                          <ul class="owl-carousel owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                              <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 369px;">
                                <div class="owl-item active" style="width: 112.8px; margin-right: 10px;">
                                  <li class="prod-thumb image1">
                                    <a href="" rel="thumb-id:listing_main_image_link" class="MagicThumb-swap pimagePath" style="outline: none;">
                                      <img src="" alt="" class="pimagePath2">
                                    </a>
                                  </li>
                                </div>
                              </div>
                            </div>
                            <div class="owl-nav disabled">
                              <button type="button" role="presentation" class="owl-prev disabled">
                                <i class="fa fa-angle-left"></i>
                              </button>
                              <button type="button" role="presentation" class="owl-next disabled">
                                <i class="fa fa-angle-right"></i>
                              </button>
                            </div>
                            <div class="owl-dots disabled"></div>
                          </ul>
                        </div>
                      </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="secondary col-sm-6">

                                <div class="product-short-desc">
                                    <p id="membershipPackageDesc"></p>
                                </div>
                                <div class="pricingBlock">
                                    <div class="price txt_prcice">
                                        Price: <span id="membershipPackagePrice"></span>
                                    </div>
                                </div>
                                <div class="availabilityInfo">
                                    <div class="product_availability">
                                        <h4>Availability: <span>In Stock!</span></h4>
                                        <!-- <div id="availability" class="font2"></div> -->
                                    </div>
                                </div>
                                <a class="btn btn-color" id="membershipPackageBuyBtn" href="">BUY</a>
                                <!-- <div id="prodDetails">
                    <div class="loginReqBlock" *ngIf="!authenticated">You need to be a registered customer to order this product. Please
                      <a [routerLink]="['/login']">Login to your account</a> or
                      <a [routerLink]="['/signup']">click here to Register</a>.
                    </div>
                  </div> -->
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>