.custom-block-item {
    min-height: 248px;
    position: relative;
    margin-bottom: 20px;
    padding: 22px 15px 20px;
    border: 1px solid #a7a7a7;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 2px 0 0 #cccccd, 0 -10px 11px rgba(204, 204, 204, 0.2) inset;
  }
  
  #registration0 {
    margin-top: 40px;
  }
  #registration0 h3 {
    line-height: 26px;
    font-size: 20px;
  }
  .btn{background-image: none !important;}