<div id="mainContainer">

  <!-- <div class="container">
    <div class="row"> -->
      <!--section id="home" class="page-layout">
        <div class="container">
          <div id="homeCarousel">
            <ul class="owl-carousel">
              <li *ngIf="!authenticated">
                <a  [routerLink]="['/signup']">
                  <img src="assets/images/slide-1.jpg" alt="Join BudBox Today" />
                </a>
              </li>
              <li>
                <a [routerLink]="['/membership']" >
                  <img src="assets/images/slide-2.jpg" alt="Get your box filled with goodness" />
                </a>
              </li>
              <li>
                <a href="/info.html#shipping">
                  <img src="assets/images/slide-3.jpg" alt="Shipping Information" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section-->
    <!-- </div>
  </div> -->
  <!-- <section class="blue_back_color">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="product_image">
            <img src="assets/images/pkg3-img_300mg.png" class="img-responsive">
          </div>
        </div>
        <div class="col-md-6">
            <div class="wpb_wrapper">
                <p class="text-thin">100% natural THC-free
                </p>
                <h2 class="slide_h2">Premium Quality CBD Rich Oils
                </h2>
                <p class="text-thin">Protecting the industry with dedicated quality and preservation.
                </p>
                <div class="shope_button o-button">
                  <a class="o-button_label" style="color: #fff;" [routerLink]="['/membership']" >Shop Now
                  </a>
                </div>
              </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="commonImgSec naturalHelthSec" style="background-image: url(assets/images/nhBg.jpg);">
    <div class="secContent">
        <h1>Natural Health. In a Bottle.</h1>
        <p>Meet PurRX: Your number one destination for organic hemp products. Voted for by the people!</p>
        <a [routerLink]="['/category/cbd-for-people']" class="secBtn"> Rediscover Yourself</a>
    </div>
  </section>

  <!-- <section class="image_section image_sec_back no_border">
    <div class="">
        <div class="col-md-6 pull-right no_pading">
            <div style="background-image: url(assets/images/shutterstock_1123368263.jpg);" class="image_product_background">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="img-with-aniamtion-wrap center">
                    <div class="inner text-center">
                      <img class="img-with-animation hup_homepage_image animated-in" data-delay="0" height="97" width="97" src="assets/images/1fea_icn_1.png" alt="what-are-cbd-oil" style="visibility:hidden;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <div class="col-md-6 no_pading">
        <div class="left_product">
          <h2 class="hup_h2">WHAT IS CBD</h2>
          <div class="hup_home_content" style="text-align: left;">
              <p style="text-align: justify;">Discovered in 1940, cannabidiol (CBD) is now one of the most intensively researched and remarkable chemical compounds in the world. CBD is one of many chemical compounds known as “cannabinoids” found in the hemp plant, producing therapeutic benefits for the body and mind. It can be taken in a variety of ways, including ingestion, inhalation and dermal absorption.
              </p>
            </div>
          </div>
      </div>
    </div>
  </section> -->


  <section class="discoverCBDsec">
    <div class="container">
      <h1 class="secTitle">Discover CBD</h1>
      <div class="row">
        <div class="col-sm-6">
            <div id="discoverCBD_crousel" class="carousel slide " data-ride="carousel">
                <div class="carousel-inner">
                  <div class="item text-center active">
                    <img src="/assets/images/slider_1.jpg" alt="">
                  </div>
                  <div class="item text-center">
                    <img src="/assets/images/slider_2.png" alt="">
                  </div>
                  <div class="item text-center">
                    <img src="/assets/images/slider_3.jpg" alt="">
                  </div>
                  <div class="item text-center">
                    <img src="/assets/images/slider_4.jpg" alt="">
                  </div>
                  <div class="item text-center">
                    <img src="/assets/images/slider_5.png" alt="">
                  </div>
                </div>
                <a class="left carousel-control" href="#discoverCBD_crousel" data-slide="prev">
                  <span class="fa fa-arrow-left"></span>
                </a>
                <a class="right carousel-control" href="#discoverCBD_crousel" data-slide="next">
                  <span class="fa fa-arrow-right"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-6">
          <div class="secContent">
          <h3>Benefits</h3>
            <ul>
              <li>Natural source of pain relief</li>
              <li>Natural aid of sleep & deep sleep</li>
              <li>Support & relief for anxiety</li>
            </ul>
            <h3>Natural Wellness:</h3>
            <ul>
              <li>100% natural ingredients</li>
              <li>Organic American grown hemp</li>
              <li>Zero psychoactive effects</li>
              <li>Used by olympians, athletes, soccer moms, & everyone in between!</li>
            </ul>
            <div class="btnDiv">
            <a [routerLink]="['/category/cbd-for-people']" class="secBtn"> Try It</a>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
  </section>

  <!-- <section class="image_section">
      <div class="">
          <div class="col-md-6 no_pading">
            <a [routerLink]="['/category/cbd-for-people']">
              <div style="background-image: url(assets/images/Human_Product_Lineup.png); " class="image_product_background">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="img-with-aniamtion-wrap center" data-max-width="100%">
                      <div class="inner text-center">
                        <img class="img-with-animation hup_homepage_image animated-in" height="97" width="97" src="assets/images/1fea_icn_2.png" alt="CBD oil" style="opacity: 1;visibility:hidden;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        <div class="col-md-6 no_pading">
          <div class="left_product">
            <h2 class="hup_h2">CBD FOR HUMANS</h2>
            <div class="hup_home_content" style="text-align: left;">
                <p style="text-align: justify;">Recent research has shown that CBD Oils possess many powerful wellness benefits in humans without any psychoactive effects.  Pain management, reducing inflammation, restoring mobility, aiding anxiety and reducing stress are some of the benefits associated with CBD.
                </p>
                <div class="shope_button o-button">
                  <a class="o-button_label" style="color: #fff;" [routerLink]="['/category/cbd-for-people']" >SHOP PURCBD FOR HUMANS NOW
                  </a>
                </div>
              </div>
            </div>
        </div>

      </div>
    </section> -->

    <section class="commonImgSec getStatedSec" style="background-image: url(assets/images/gsBg.jpg);">
      <div class="secContent">
          <h1>Get started with CBD</h1>
          <p>The natural solution for everyday people who believe in supporting the body & mind</p>
          <a [routerLink]="['/aboutcbd']" class="secBtn"> Learn about CBD</a>
      </div>
    </section>
<!--     
    <section class="image_section image_sec_back">
        <div class="">
            <div class="col-md-6 pull-right no_pading">
              <a [routerLink]="['/category/cbd-for-pets']">
                <div style="background-image: url(assets/images/Pet_Product_Lineup.png); " class="image_product_background second_imageproduct">
                  <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                      <div class="img-with-aniamtion-wrap center" data-max-width="100%">
                        <div class="inner text-center">
                          <img class="img-with-animation hup_homepage_image animated-in" height="97" width="97" data-animation="fade-in" src="assets/images/1fea_icn_3.png" alt="is-cbd-hemp-oil-legal" style="opacity: 1;visibility:hidden;">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          <div class="col-md-6 no_pading">
            <div class="left_product">
              <h2 class="hup_h2">CBD FOR PETS</h2>
              <div class="hup_home_content" style="text-align: left;">
                  <p style="text-align: justify;">Our Pets are family and CBD for Pets will help you maximize your limited time together.  Our products are specially formulated for Pets and CBD has been shown to aid with joint care, mobility issues, arthritis pains and anxiety in Pets.
                  </p>
                  <div class="shope_button o-button">
                      <a class="o-button_label" style="color: #fff;" [routerLink]="['/category/cbd-for-pets']" >SHOP PURCBD FOR PETS NOW
                      </a>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </section> -->


      <!-- <section class="botol_product_image"> -->
        <!--div class="container-wraper">
              <img class="img-with-animation  animated-in" height="729" width="1312" src="assets/images/1middle.png" alt="CBD oil" style="opacity: 1;">
        </div>

        <div-- class="left-background_leap">
            <div class="inner text-center">
                <img class="img-with-animation  animated-in" src="assets/images/1line.jpg" alt="medixcbd-line" style="opacity: 1;">
              </div>

              <div class="shop_now_rt">
                  <a  style=""  [routerLink]="['/membership']">
                      <span class="start">Shop Now</span>
                    </a>
              </div>

              <div class="h1_tag">
                <h2 class="hup_h1">CBD Oils &amp; Hemp Oils Manufacturers &amp; Suppliers | {{pageTitle}}
                </h2>
                <p class="hup_pro_h5">Buy the best quality from the industry leading CBD oil manufacturer and suppliers of high-end CBD &amp; Hemp oil products.
                </p>
              </div>

        </div-->
      <!-- </section> -->
      <!-- <section class="testimonial_slider">
        <div class="container">
          <div id="testmonial_crousel" class="carousel slide test_slide " data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#testmonial_crousel" data-slide-to="0" class=""></li>
              <li data-target="#testmonial_crousel" data-slide-to="1" class="active"></li>
              <li data-target="#testmonial_crousel" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner max_75">
              <div class="item active left">
                <blockquote class="active">
                  <p class="color_blk">“I felt the improvement within the first 2 days using the 1000MG Oil and since I’ve added the daily joint care.   My pains have been a non issue and I don’t miss a day”
                    <span class="bottom-arrow">
                    </span>
                  </p>
                  <span class="uath_nme">Michael K. / ★★★★★
                  </span>
                  <span class="title">
                  </span>
                </blockquote>
              </div>
              <div class="item next left">
                <blockquote class="no-trans">
                  <p class="color_blk">“My aunt had a full hip replacement and had issues moving around.  After giving her the 1000MG Oil she’s been able to sleep better and more importantly has been killing rehab PAIN FREE”
                    <span class="bottom-arrow">
                    </span>
                  </p>
                  <span class="uath_nme">Kevin O. / ★★★★★
                  </span>
                  <span class="title">
                  </span>
                </blockquote>
              </div>
              <div class="item">
               <blockquote class="no-trans">
                  <p class="color_blk">“Jake was slowing down and moving gingerly due to arthritis.  We started giving him the 500MG Oil and Pet Treats and saw noticeable improvement.  It’s like he’s a pup again”
                    <span class="bottom-arrow">
                    </span>
                  </p>
                  <span class="uath_nme">Allison W. / ★★★★★
                  </span>
                  <span class="title">
                  </span>
                </blockquote>
              </div>
            </div>
            <a class="left carousel-control" href="#testmonial_crousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#testmonial_crousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </section> -->

      <section class="testimonialSec">
        <div class="container" id="reviews-slide">
            <h1 class="secTitle text-center">What our customers say...</h1>
            <div class="owl-carousel owl-theme" id="testimonialSlider">
                  <div class="testimonialPanel">
                      <div class="panrlInner">
                        <h4>NATHAN</h4>
                        <p>I felt the improvement within the first 2 days using the 1000MG Oil and since I’ve added the daily joint care. My pains have been a non issue and I don’t miss a day.</p>
                      </div>
                  </div>
                  <div class="testimonialPanel">
                      <div class="panrlInner">
                        <h4>KEVIN</h4>
                        <p>My aunt had a full hip replacement and had issues moving around.  After giving her the 1000MG Oil she’s been able to sleep better and more importantly has been killing rehab PAIN FREE</p>
                      </div>
                  </div>
                  <div class="testimonialPanel">
                      <div class="panrlInner">
                        <h4>ALLISON</h4>
                        <p>Jake was slowing down and moving gingerly due to arthritis.  We started giving him the 500MG Oil and Pet Treats and saw noticeable improvement.  It’s like he’s a pup again</p>
                      </div>
                  </div>
            </div>
        </div>
      </section>
      

  <div class="container">
      <div class="row">
  <section class="page-layout">

        <!--START: CATEGORY_HEADER-->
        <!-- <div class="category-header" id="homeHeader">
          <div align="left">
            <span style="font-size: 12pt;">
              <table style="border-collapse: collapse;" width="972" height="136" cellspacing="2" cellpadding="3">
                <tbody>
                  <tr>
                    <td style="vertical-align:top">
                      <span style="font-size: 18pt; font-weight: bold; color:rgb(41, 53, 120);">The ultimate in mail order marijuana.</span>
                      <br>
                      <br>Online dispensary serving all of Canada with the finest quality cannabis items including: BC Bud, Extracts &amp;
                      Cannabis Oils, Infused Edibles, Creams &amp; Lotions &amp; THC e-juice.&nbsp; Whipped Budder, Live Resin, Shatter,
                      Cherry Oil, Honey Oil and Distillate.&nbsp; Cannabis Flower: Indica, Sativa, Hybrid.
                      <br>
                      <br>
                      <span style="font-weight: bold;">
                        <a [routerLink]="['/membership']" >Budbox has monthly membership</a> options that give you huge discounts on high quality
                        cannabis items.
                        <br>
                        <br>
                        <span style="color: rgb(197, 1, 206);">Take advantage and get wholesale prices</span> -
                        <a [routerLink]="['/signup']">create an account today!</a>
                      </span>
                      <span style="background-color: rgb(50, 205, 50);">
                        <a [routerLink]="['/membership']" >
                          <span style="color: rgb(255, 255, 224); font-weight: bold;">Whats in your box?</span>&nbsp;</a>
                      </span>
                      <span style="font-size: 12pt;"></span>
                    </td>
                    <td style="vertical-align:top">
                      <br>
                    </td>
                  </tr>
                </tbody>
              </table>
            </span>
            <br>
          </div>
        </div> -->
        <!--END: CATEGORY_HEADER-->
        <div id="home-top-banners">
          <div class="container">
            <div class="row">
                <ng-container *ngFor="let category of category_list">
                    <div class="col-sm-4 col-xs-12 banner-item" *ngIf="category.show_on_landing_page == 1 ">
                        <a routerLink="/category/{{category.slug}}" *ngIf="category.get_media != null">
                          <img class="img-first" src="{{baseurl}}backend/images/productCategory/{{category.get_media.image}}" alt="" />
                          <!-- <img class="img-second" src="assets/images/home-top-banner-1a.png" alt="" /> -->
                        </a>
                      </div>
                </ng-container>
            </div>
          </div>
        </div>
        <div id="homeFeatured" class="module-wrapper">
          <div class="container">
            <!--START: FEATURE_MENU-->
            <h3 class="module-heading">
              <span>Featured Products</span>
            </h3>
            <div class="inner-wrapper" *ngIf="product_list">
              <!--START: CATEGORY_ITEMS-->
              <div class="productBlockContainer columns-3">
                <ng-container *ngFor="let single of product_list">
                    <div class="product-container first-item" *ngIf="single.product_is_featured">
                        <div class="prod-item">
                          <div class="prod-image">
                            <a routerLink="/products/{{single.id}}">
                              <img *ngIf="single.get_media?.length > 0" src="{{baseurl}}backend/images/products/{{single.get_media[0]?.image}}"
                                alt="{{single.product_name}}" style="width:200px;height:200px;"/>

                              <img *ngIf="single.get_media?.length == 0" src="https://www.nato-pa.int/sites/default/files/default_images/default-image.jpg"
                                alt="{{single.product_name}}" style="width:200px;height:200px;" />

                            </a>
                            <!-- <div class="actions">
                              <a class="btnQV hidden-xs hidden-sm hidden-md" href="productview.html">Quick View</a>
                            </div> -->
                          </div>
                          <div class="product-desc">
                            <div class="name"><a routerLink="/products/{{single.id}}"><strong>{{single.product_name}}</strong></a></div>
                            <p class="hidden-eclipse"><span>{{single.product_short_description}}</span></p>
                            <div class="price">
                              <!--START: ITEMPRICE-->
                              <span class="hidden">Your Price:&nbsp;</span><span *ngIf="!authenticated">{{single.product_price | currency }}</span>
                              <span *ngIf="authenticated">{{single.priority_pricing_amount  | currency }}</span>
                              <!--END: ITEMPRICE-->
                            </div>
                            <div class="div-hovered">
                              <button type="button" class="btn btn-color btnATC" (click)="routeProductDetails(single.id)">Buy</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </ng-container>

                  <div style="clear: both;"></div>
                </div>
              <!--END: CATEGORY_ITEMS-->
            </div>
            <!--END: FEATURE_MENU-->
          </div>
        </div>

        <!-- <div id="home-bottom-banners">
          <div class="container">
            <div class="row">
              <div class="col-sm-4 col-xs-12 banner-item">
                <a href="javascript:void(0);">
                  <img src="assets/images/home-bottom-banner-1.jpg" alt="The Friendly Stranger" />
                </a>
              </div>
              <div class="col-sm-4 col-xs-12 banner-item">
                <a href="javascript:void(0);">
                  <img src="assets/images/home-bottom-banner-2.jpg" alt="The Real Deal" />
                </a>
              </div>
              <div class="col-sm-4 col-xs-12 banner-item">
                <a href="javascript:void(0);">
                  <img src="assets/images/home-bottom-banner-3.jpg" alt="Yes More Please" />
                </a>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div id="homeBrands">
          <div class="container">
            <ul class="owl-carousel">
              <li>
                <a href="javascript:void(0);" title="Sweet Jane Edibles">
                  <img src="assets/images/brand3.png" alt="Sweet Jane Edibles" />
                </a>
              </li>
              <li>
            </ul>
          </div>
        </div> -->
        <!--START: CATEGORY_FOOTER-->
        <!-- <div class="category-footer" id="homeFooter">
          <div align="center">
            Canadian online dispensary with high quality
            mail order marijuana.&nbsp; Learn more
            facts about marijuana and
            cannabis extracts by reading the
            Budbox Blog.
            <br>
          </div>
        </div> -->
        <!--END: CATEGORY_FOOTER-->
      </section>
      <!--END: FRAME_MID-->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /#mainContainer -->
