<!------------------------- Banner ------------------------->
      <div class="banner">
            <div class="banner_info">
               <h2>Live More</h2>
               <h3>Age Less</h3>
               <p>A first of its kind online anti-aging platform.</p>
               <a routerLink="/category/by-symptom-1">SHOP ALL PRODUCTS</a>
            </div>
      </div>
      <div class="mobile-banner-info">
          <p>A first of its kind online anti-aging platform.</p>
          <a routerLink="/category/by-symptom-1">SHOP ALL PRODUCTS</a>
      </div>
       
      <!------------------------- Health ------------------------->
      
      <!-- <section class="health">
         <h2>Maintaining Your Health Never Been Simpler.</h2>
         <div class="container">
            <div class="row">
               <div class="column arrow icon_">
                  <div class="mo_left">
                     <img src="assets/images/img1.png" alt="">
                  </div>
                 <div  class="mo_right">
                  <h4>Shop for</h4>
                  <h3>Treatments</h3>
                 </div>
                  
               </div>

               <div class="clear_both_mobile"></div>

               <div class="column arrow icon_">
                  <div class="mo_left">
                     <img src="assets/images/img2.png" alt="">
                  </div>
                  <div  class="mo_right">
                     <h4>Complete</h4>
                     <h3>Information</h3>
                  </div>
                  
               </div>
               <div class="clear_both_mobile"></div>

               <div class="column arrow icon_">
                  <div class="mo_left">
                     <img src="assets/images/img3.png" alt="">
                  </div>
                  <div  class="mo_right">
                  <h4>Get</h4>
                  <h3>Approval</h3>
                 </div>
                  
               </div>
               <div class="clear_both_mobile"></div>
               <div class="column icon_">
                  <div class="mo_left">
                     <img src="assets/images/img4.png" alt="">
                  </div>
                 
                  <div  class="mo_right">
                  <h4>Receive Your</h4>
                  <h3>Shipment</h3>
                 </div>
               </div>
               <div class="clear"></div>
            </div>
         </div>
      </section>  -->

      <section class="health">
      <div class="container">
        <div class="row">

           <div class="column">
                  <div class="mo_left">
                     <img src="assets/images/image034.png" alt="">
                  </div>
                 <div  class="mo_right">
                  <!-- <h4>Shop for</h4> -->
                  <i><h3>"I can’t say enough about PurRX. I’ve been using their products for 3 months now and the results have been FAST and AMAZING!"</h3>
                  <h4>- Jason M.</h4></i>
                 </div>
                  
               </div>

               <div class="clear_both_mobile"></div>

        </div>
      </div>
      </section>


      <!------------------------- Products ------------------------->
      
      <div class="products">
         <h2>Popular Products</h2>
         <div class="txt-center">
            <a routerLink="/category/by-symptom-1">(SHOP ALL PRODUCTS)</a>
         </div>
        
         <div class="container">
           <div class="row">
            <div class="column">
               <div class="two">
                  <img src="assets/images/fast-flex-bottle.png" alt="fast-flex-bottle">
                           <h3>Starting at <span>$49.00</span></h3>
                           <a routerLink="products/57">LEARN MORE & BUY</a>
               </div>
               <div class="one">
                  <!-- <div>
                     show
                  </div> -->

                  <h1>FastFlexONE</h1>
                           <ul>
                              <li>Reduces Inflammation & Chronic Pain</li>
                              <li>Aids in Soft Tissue Production</li>
                              <li>Promotes Flexibility & Mobility</li>
                              <li>Rebuilds & Lubricates Cartilage</li>
                              <li>Lab Tested for Purity</li>
                             
                           </ul>

                           <h3 class="starting_at_mo">Starting at <span>$49.00</span></h3>
                           <div class="align-center btns_"><a routerLink="products/57" class="learn_more_buy">LEARN MORE & BUY</a></div>
               </div>
            </div>
            <div class="column">
               
               <div class="two">
                  <img src="assets/images/cb-doze-bottle-img.png" alt="fast-flex-bottle">
                           <h3>Starting at <span>$44.00</span></h3>
                           <a routerLink="products/56">LEARN MORE & BUY</a>
               </div>
               <div class="one">
                  <h1>CB🌙DOZE</h1>
                           <ul>
                              <li>Restores Healthy Sleep Cycles</li>
                              <li>Prolongs Sleep Intervals</li>
                              <li>Boosts Vitality & Focus</li>
                              <li>Enhances REM Sleep & Serotonin levels</li>
                              <li>Diminishes Insomnia</li>
                              
                           </ul>
                           <h3 class="starting_at_mo">Starting at <span>$44.00</span></h3>
                           <div class="align-center btns_"><a routerLink="products/56" class="learn_more_buy">LEARN MORE & BUY</a></div>
               </div>
            </div>
            <div class="clear"></div>
         </div>
         <div class="row">
            <div class="column">
               
               <div class="two">
                  <img src="assets/images/vita-fuse.png" alt="fast-flex-bottle" class="vita_bottle">
                           <h3>Starting at <span>$39.00</span></h3>
                           <a routerLink="products/58">LEARN MORE & BUY</a>
               </div>
               <div class="one third">
                  <h1>VitaFuse</h1>
                           <ul>
                              <li>Essential Vitamins and Minerals</li>
                              <li>Supports Healthy Immune System</li>
                              <li>Contains Antioxidant Vitamins C & E</li>
                              <li>Promotes Heart Health</li>
                              <li>Increases Metabolic Energy</li>
                              
                           </ul>
                           <h3 class="starting_at_mo">Starting at <span>$39.00/Month</span></h3>
                           <div class="align-center btns_"><a routerLink="products/58" class="learn_more_buy">LEARN MORE & BUY</a></div>
               </div>
            </div>
            <div class="column">
              
               <div class="two">
                  <img src="assets/images/tadalafil-bottle.png" alt="fast-flex-bottle">
                           <h3>Starting at <span>$54.00</span></h3>
                           <a routerLink="/products/62 ">LEARN MORE & BUY</a>
                           
               </div>
               <div class="one fourth">
                  <h1>Mind Ease </h1>
                           <ul>
                              <li>Relieves Stress & Anxiety</li>
                              <li>Supports Serotonin Production</li>
                              <li>Enhances Mood & Relaxation</li>
                              <li>Improves Emotional Balance</li>
                              <li>Nourishes Nervous System</li>
                              
                           </ul>
                           <h3 class="starting_at_mo">Starting at <span>$54.00</span></h3>
                           <div class="align-center btns_"><a routerLink="/category/anxiety-depression-1" class="learn_more_buy">LEARN MORE & BUY</a></div>
               </div>
            </div>
            <div class="clear"></div>
         </div>
         </div>
         
      </div> 

      <!--------------------------- Achieve -------------------->
      <div class="achieve_out">
         <div class="container">
              <h2>Explore Our Full Product Line</h2> 
              <h3>Achieve your Natural Goals</h3>
              <h4>Shop for treatments based on needs:</h4>
              <div class="row">
                 <div class="column">
                    <div class="one_achieve">
                       <ul>
                          <li><a routerLink="/category/general-longevity-1">General Longevity</a></li>
                          <li><a routerLink="/category/chronic-pain-arthritis-1">Chronic Pain & Arthritis</a></li>
                          
                       </ul>
                    </div>
                    <div class="two_achieve">
                       <ul>
                          <li><a routerLink="/category/anxiety-depression-1">Anxiety & Depression</a></li>
                          <li><a routerLink="/category/sleep-1">Sleep</a></li>
                          
                       </ul>
                    </div>
                    <div class="three_achieve">
                       <img src="assets/images/product group-at-size.png" alt="product group">
                    </div>
                    <div class="clear"></div>
                 </div>
              </div>
              <div style="text-align: center;">
               <a routerLink="/category/by-symptom-1" class="show">SHOW ALL PRODUCTS</a>
              </div>
              
         </div>
      </div>

      <!--------------------------- blue_bg -------------------->
      <div class="blue_bg">
         <div class="container">
              <div class="row">
                 <div class="column">
                    <div class="one_blue">
                       <h2>It's Better Than Magic. It's Science.</h2> 
                       <h3>Our Team of Experts is dedicated to bringing you the latest and most effective treatments.</h3>
                    </div>
                    <div class="two_blue">
                        <i class="fa fa-quote-left"></i>
                        <h4>No longer is aging being treated as a dreadful inevitability but instead as a puzzle that can be solved - as a disease with a cure.</h4>
                        <h5>Time Special Edition</h5>
                        <h6>April 2019</h6>
                    </div>
                 </div>
                 <div class="clear"></div>
              </div>
               <div class="container">
                  <div class="row">
                     <!-- <table>
                        <tr>
                           <td><img src="assets/images/forbes.png" alt="forbes-logo"></td>
                           <td><img src="assets/images/time.png" alt="time logo"></td>
                           <td><img src="assets/images/nature.png" alt="nature logo"></td>
                           <td><img src="assets/images/wired.png" alt="wired-logo"></td>
                           <td><img src="assets/images/cnbc.png" alt="cnbc-logo"></td>
                        </tr>
                     </table> -->

                     <img src="assets/images/news.png" alt="" class="img-rs" />
                  </div>
               </div>
         </div>
      </div>

      <!--------------------------- people -------------------->
      <div class="people">
         <h2>Why People Are Choosing PurRX</h2>
         <div class="container">
              <div class="row">
                 <div class="column">
                    <div class="people_1">
                        <i class="fa fa-quote-left"></i>
                       <p>PurRX is amazing and way ahead of its time! PurRX gave me access to powerful supplements to treat aging-as-a-disease that I normally would not get from anywhere else. These products are GREAT!</p>
                       <h4>64 Year Old</h4>
                       <h6>San Francisco, CA</h6>
                    </div>
                    <div class="people_2">
                     <i class="fa fa-quote-left"></i>
                       <p>PurRX has significantly improved both my mental and physical health after years of suffering in pain. Using their supplements have improved my sleep patterns, reduced inflammation and allowed me to resume many activities that used to be off-limits. I especially appreciate the all natural ingredients and ease of use. Thank you PurRX!</p>
                       <h4>41 Year Old</h4>
                       <h6>Athens, AL</h6>
                    </div>
                    <div class="people_3">
                     <i class="fa fa-quote-left"></i>
                       <p>I heard about PurRX from a few friends and then read about them online. Since I'm a pretty health conscious person, I decided to give it a try. The ordering process was easy and within a few days I received my order. I have been using PurRX products for the past 2 months now and the results have been incredible. Their all natural formulated supplements have helped reduced my shoulder and knee pain by at least 70%. Absolutely incredible products.</p>
                       <h4>72 Year Old</h4>
                       <h6>Bevery, MA</h6>
                    </div>
                    <div class="clear"></div>
                 </div>
              </div>
              <div class="row">
                 <div class="column">
                    <h3>Your individual results might differ from the above testimonials</h3>
                 </div>
              </div>
              
         </div>
      </div>


      <!--------------------------- Email -------------------->
      <div class="email">
         <div class="container">
            <div class="row">
               <div class="column">
                  <div class="email_1">
                     <p>Stay current on research updates, latest products, and special offers.</p>
                  </div>
                  <div class="email_2">
                     <form>
                          <input type="text" id="email" name="email" placeholder="Enter Email">
                          <input type="submit" value="SIGN UP" class="submit">
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>