<aside id="leftBar" class="leftBar col-sm-3">
  <!--START: LEFT_BAR_BLOCKS-->
  <div id="modTopSellers" class="module-wrapper">
    <h3 class="side-module-heading header-1st-item">
      <span>MY ACCOUNT</span>
    </h3>
    <h3 class="side-module-heading" routerLinkActive="leftmenu-active">
      <span><a [routerLink]="['/address/billing']">BILLING INFORMATION</a></span>
    </h3>
    <h3 class="side-module-heading" routerLinkActive="leftmenu-active">
      <span><a [routerLink]="['/address/shipping']">SHIPPING INFORMATION</a></span>
    </h3>
    <!-- <h3 class="side-module-heading"  routerLinkActive="leftmenu-active" >
        <span><a [routerLink]="['/generic-content']">GENERIC INFORMATION</a></span>
      </h3> -->
    <h3 class="side-module-heading" routerLinkActive="leftmenu-active">
      <span><a [routerLink]="['/my-orders']">MY ORDERS</a></span>
    </h3>
    <h3 class="side-module-heading" routerLinkActive="leftmenu-active">
      <span><a [routerLink]="['/my-subscription']">MY SUBSCRIPTIONS</a></span>
    </h3>
    <h3 class="side-module-heading" routerLinkActive="leftmenu-active">
      <span><a [routerLink]="['/wallet']">MY WALLET</a></span>
    </h3>
  </div>
  <!--END: LEFT_BAR_BLOCKS-->
</aside>
