<h2 class="p1"><span class="s1">Terms and Conditions</span></h2>
        <p class="p2">
            <span class="s1">
                These Terms and Conditions are the official terms of use for PurRX&trade;&rsquo;s website at&nbsp;<a href="https://www.trypurrx.com"><span class="s2">https://www.trypurrx.com</span></a>&nbsp;(the &ldquo;Website&rdquo;).
                &nbsp;The content and products (&ldquo;Products&rdquo;) available on the Website are provided to you by PurRX, LLC, d/b/a PurRX&trade;, and its respective parent companies, subsidiaries, affiliates, and licensors (hereafter,
                &ldquo;PurRX&trade;,&rdquo; &ldquo;us&rdquo;, &ldquo;our&rdquo;, &ldquo;we&rdquo;) subject to the following Terms and Conditions. &nbsp;By accessing or using the Website, you acknowledge that you have read, understand, and
                agree to be bound by these Terms and Conditions and any other policies and terms posted on the Website.
            </span>
        </p>
        <p class="p3">
            <span class="s1">
                We reserve the right to update or modify these Terms and Conditions at any time. When changes are made, we will make the revised version available on this webpage. &nbsp;We encourage you to review these Terms and Conditions
                whenever you purchase Products from or otherwise use the Website. &nbsp;By using this Website, you agree to be bound by the Terms and Conditions that are posted on the Website at the time of your access or purchase.
            </span>
        </p>
        <p class="p4"><span class="s1">GENERAL TERMS AND CONDITIONS</span></p>
        <p class="p2">
            <span class="s1">
                The Products on this Website are intended for personal, non-commercial purposes only. &nbsp;Except as expressly permitted in these Term and Conditions, you may not use, reproduce, distribute, adapt, modify, reverse engineer,
                copy, publish, display, transmit, link, rent, frame, lease, loan, sell, license, or in any way exploit the content or Products of this Website. &nbsp;You agree to use this Website, its Products and content, only for lawful,
                non-commercial purposes and in compliance with the all international, federal, state and local laws. &nbsp;
            </span>
        </p>
        <p class="p2">
            <span class="s1">
                PurRX&trade; does not authorize or permit the resale of our Products by unauthorized resellers, retailers or distributors. &nbsp;Any account associated with a purchase order that we suspect is connected with the illegal
                distribution of our Products, or any other activity that was not pre-approved in writing by an authorized officer of PurRX&trade;, may be subject to suspension or termination and restrained from further access to this
                Website. &nbsp;Any open orders associated with such an account will then be cancelled and credited back to the original purchaser. &nbsp;PurRX&trade; reserves the right to pursue any unlawful reseller, retailer or
                distributor for violations under applicable law including, but not limited to, The Lanham Act. &nbsp;
            </span>
        </p>
        <p class="p3">
            <span class="s1">
                PurRX&trade; only ships Product orders to shipping addresses that are either a physical address or USPS Post Office Box. The use of a false name, address, telephone number and/or credit card number to purchase any Products
                on this Website shall constitute fraud under the laws of the state of California and shall constitute your stipulation and admission that 1) your use of a false name, address, telephone number and/or credit card was and is a
                fraudulent representation made at the time of purchase; 2) was made with the knowledge of said falsity; 3) was made with the intention to defraud PurRX&trade;; 4) that PurRX&trade;&rsquo;s reliance on your fraudulent
                representations was and is actual, justifiable and reasonable, and; 5) that PurRX&trade; was and is damaged by your fraud. &nbsp;You further stipulate and admit that such conduct was and is carried out with fraud, malice and
                oppression and, therefore, an award of punitive damages is both necessary and proper for such conduct. &nbsp;All instances of fraud shall be prosecuted to the fullest extent of the law. &nbsp;
            </span>
        </p>
        <p class="p4"><span class="s1">PRIVACY</span></p>
        <p class="p3">
            <span class="s1">
                You may learn more about our practices with respect to the collection, use, disclosure and protection of your information, by visiting our Privacy Policy. &nbsp;Our Privacy Policy is incorporated into these Terms and
                Conditions and by using this Website, you also agree to the terms of our Privacy Policy.
            </span>
        </p>
        <p class="p4"><span class="s1">SUBSCRIBE &amp; SAVE</span></p>
        <p class="p3">
            <span class="s1">
                The savings you see are based on a subscription. By placing your order you are agreeing to lock in a discounted price on our products.<span class="Apple-converted-space">&nbsp; </span>You will pay the discounted price and
                receive a 30 day supply of product, then in 30 days you will be charged the full price and sent another monthly supply until you contact us to cancel your subscription.
            </span>
        </p>
        <p class="p4"><span class="s1">PRODUCT AVAILABILITY</span></p>
        <p class="p3"><span class="s1">The availability and descriptions of the Products included on this Website may vary based on location and timing.</span></p>
        <p class="p4"><span class="s1">USER CONTENT</span></p>
        <p class="p2">
            <span class="s1">
                PurRX&trade; welcomes comments and submissions from our Website and Product users. &nbsp;From time to time, you and other users of this Website may have an opportunity to post to this Website your ideas, information, data,
                text, photographs, graphics, videos, music, sound, messages, and comments, or events, facts, advice, tips, opinions and other material (collectively, the &ldquo;User Content&rdquo;). &nbsp;
            </span>
        </p>
        <p class="p2">
            <span class="s1">
                You do not have to submit anything to this Website, but if you do choose to submit any User Content, it will be deemed non-proprietary and non-confidential and may be used by us, our affiliates or others without restriction.
                &nbsp;Therefore, if you have an idea or information that you would like to keep confidential or do not want others to use, then do not post it on this Website. &nbsp;We are not responsible for any user&rsquo;s misuse or
                misappropriation of any User Content that you post on this Website. &nbsp;
            </span>
        </p>
        <p class="p2">
            <span class="s1">
                By submitting, sending, posting, uploading or otherwise providing User Content to us, whether solicited or unsolicited, you grant us and our affiliates the royalty-free, fully paid, unrestricted, perpetual, worldwide,
                irrevocable, non-exclusive, fully transferrable, assignable and sub-licensable right and license to use, copy, modify, publish, adapt, translate, create derivative works from, distribute, commercialize, perform or display
                such User Content (in whole or in part), and to incorporate the User Content in other works in/of any form, media, or technology (now known or later developed) for any purpose including, without limitation, advertising and
                promotional purposes. &nbsp;Our reproduction, transmission, publication, broadcast and posting of your User Content may be made without any further consent by you or notice, credit and/or compensation to you or any third
                parties. &nbsp;&nbsp;We and our affiliates also have the right but not the obligation, to use your username and real name, image, likeness, city, state or other identifying information, if provided by you in connection with
                your User Content, in connection with any broadcast, print, online or other use or publication of your User Content. &nbsp;Notwithstanding the foregoing, other personally identifiable data, if any, included in User Content
                shall be handled in accordance with our&nbsp;
            </span>
            <span class="s3">Privacy Policy</span><span class="s1">.</span>
        </p>
        <p class="p3">
            <span class="s1">
                By submitting any User Content to us and/or our Website, you further represent and warrant that you own or otherwise control any and all rights in and to the User Content, and that our posting and use of that User Content
                will not infringe or violate the rights of any third party in any manner including, without limitation, any privacy rights, publicity rights, copyrights, contract rights or any other intellectual property or proprietary
                rights. &nbsp;
            </span>
        </p>
        <p class="p4"><span class="s1">YOUR REPRESENTATIONS AND WARRANTIES</span></p>
        <p class="p2">
            <span class="s1">
                You represent and warrant that: (i) you are above the legal age of majority in your jurisdiction of residence; (ii) you have not previously been either suspended or removed from this Website; (iii) you do not currently, nor
                will you at any given time in the future, have more than one (1) customer account for this Website; (iv) you will provide us with true, accurate, current and complete information if you register for an account and/or Order;
                and (v) you have capacity and authority to enter into these Terms and Conditions and, in doing so, will not violate any other agreement to which you are a party.
            </span>
        </p>
        <p class="p3"><span class="s1">If we believe or suspect that your account information is not true, accurate, current or complete, we may deny or terminate your access to this Website (or any portion thereof). &nbsp;</span></p>
        <p class="p4"><span class="s1">INTELLECTUAL PROPERTY AND TRADEMARK RIGHTS</span></p>
        <p class="p2">
            <span class="s1">
                This Website and all of its contents including, but not limited to, articles and other text, photographs, images, illustrations, graphics, video material, audio material (including musical compositions and sound recordings),
                logos, trademarks, tradenames, titles, characters, names, software, graphics and button icons, excluding User Content (collectively, &ldquo;Proprietary Material&rdquo;), are protected by copyright, trademark and other laws
                of the United States, as well as international convention and the laws of other countries. &nbsp;All Proprietary Material on the Website is owned or controlled by PurRX&trade; or by third parties that have provided rights
                thereto to PurRX&trade;.
            </span>
        </p>
        <p class="p2">
            <span class="s1">
                Except as otherwise provided in these Terms and Conditions or with our express prior written permission, you may not use, publish, reproduce, display, create derivative works from, reverse engineer or decompile, disassemble,
                distribute, license, transfer, sell, copy, post, publicly perform or display, enter into a database, upload, transmit or modify the Proprietary Material or any portion thereof, for any purpose or by any technology or media
                now known or later developed. &nbsp;
            </span>
        </p>
        <p class="p3"><span class="s1">Modification of the Proprietary Material on this Website or use of such Proprietary Material for any purpose is a violation of our copyright and other proprietary rights.</span></p>
        <p class="p4"><span class="s1">CLAIMS REGARDING COPYRIGHT INFRINGEMENT</span></p>
        <p class="p2">
            <span class="s1">
                If you are a copyright owner, or an agent thereof, and you believe that any User Content or other content on this Website infringes upon your copyright, you may submit us a notification pursuant to the Digital Millennium
                Copyright Act (&ldquo;DMCA&rdquo;) by providing our Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further detail):
            </span>
        </p>
        <p class="p2"><span class="s1">1. Identification of the copyrighted work claimed to have been infringed or, if multiple copyrighted works are covered by a single notification, a representative list of such works;</span></p>
        <p class="p2">
            <span class="s1">
                2. Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which should be disabled, and details reasonably sufficient to help us
                locate the material on the Website;
            </span>
        </p>
        <p class="p2"><span class="s1">3. Information reasonably sufficient to permit us to contact you (i.e., your name, address, telephone number, and, if available, your e-mail address);</span></p>
        <p class="p2"><span class="s1">4. A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;</span></p>
        <p class="p2">
            <span class="s1">
                5. A statement, under penalty of perjury, that the information in the above notification is accurate and that you are the owner, or are authorized to act on his or her behalf, of an exclusive right that is allegedly
                infringed; and
            </span>
        </p>
        <p class="p2"><span class="s1">6. Your physical or electronic signature.</span></p>
        <p class="p2"><span class="s1">Our designated Copyright Agent to receive notifications of claimed infringement is:</span></p>
        <p class="p2"><span class="s1">You may also submit your notification to us via email at:&nbsp;<a href="mailto:support@trypurrx.com">support@trypurrx.com</a>, with &ldquo;DMCA Notice&rdquo; in the subject line.</span></p>
        <p class="p2">
            <span class="s1">
                Only DMCA notices should go to the Copyright Agent listed above. Any feedback, comments, requests for technical support, questions about Products, and other communications should be directed to our customer service
                department at (888) 256-7732. You acknowledge that if you fail to comply with each of the requirements set forth above, your DMCA notice may not be valid.
            </span>
        </p>
        <p class="p2">
            <span class="s1">
                After receiving a notification of infringement, we will investigate the claim and take appropriate actions under the DMCA and other applicable intellectual property laws. Upon receipt of notices that substantially complying
                with the DMCA, we will act expeditiously to remove or disable access to (i) any material claimed to be infringing or the subject of infringing activity, and (ii) any reference or link to material or activity that is claimed
                to be infringing. We will take reasonable steps to promptly notify the owner that we have removed or disabled access to such material.
            </span>
        </p>
        <p class="p2">
            <span class="s1">
                If User Content provided by you was removed, or access to which was otherwise disabled, and you believe such User Content is not infringing or that you otherwise had authorization to post and use the content in your User
                Content, you may send a written counter-notice to the Copyright Agent listed above, containing the following information:
            </span>
        </p>
        <p class="p2">
            <span class="s1">1. Identification of the User Content that was removed or access to which was disabled and the location at which the User Content appeared before it was removed or access to which was disabled;</span>
        </p>
        <p class="p2"><span class="s1">2. A statement under penalty of perjury that you have a good faith belief that the User Content was removed or disabled as a result of mistake or a misidentification;</span></p>
        <p class="p2"><span class="s1">3. Your name, address, telephone number, and e-mail address;</span></p>
        <p class="p2">
            <span class="s1">
                4. A statement that you consent to the jurisdiction of the federal district court in Los Angeles, California and a statement that you will accept service of process from the person who provided notification of the alleged
                infringement; and
            </span>
        </p>
        <p class="p2"><span class="s1">5. Your physical or electronic signature.</span></p>
        <p class="p3">
            <span class="s1">
                If a proper counter-notice is received by the Copyright Agent, we may send a copy of the counter-notice to the original complaining party, informing that person that we will replace the removed content or cease disabling
                access to it within ten (10) business days. Unless our designated agent first receives notice from the original complaining party that such party has filed an action seeking a court order against the User Content provider,
                the removed content may be replaced, or access to it may be restored.
            </span>
        </p>
        <p class="p4"><span class="s1">RETURN POLICY</span></p>
        <p class="p3">
            <span class="s1">
                PurRX&trade; offers a 30-Day Money Back Warranty on all Products purchased through our Website (NOTE: Items purchased through third party links, such as Amazon.com, are not eligible for the 30-Day Money Back Warranty). This
                warranty comes into effect on the day your product is purchased and expires (30) days after. You will be responsible for any shipping charges incurred in returning any Product. Please contact our Customer Service at (888)
                256-7732 for further assistance with your return.
            </span>
        </p>
        <p class="p4"><span class="s1">DISCLAIMER</span></p>
        <p class="p2">
            <span class="s1">
                PURRX&trade; (INCLUDING OUR PARENT COMPANIES, SUBSIDIARIES, AFFILIATES, THIRD PARTY CONTENT PROVIDERS, MERCHANTS, SPONSORS, LICENSORS AND THE LIKE, AND THEIR RESPECTIVE DIRECTORS, OFFICERS, MEMBERS, MANAGERS AND EMPLOYEES
                (COLLECTIVELY, &ldquo;RELATED PARTIES&rdquo;)) PROVIDES THE WEBSITE, PRODUCTS, AND CONTENTS OF ITS WEBSITE ON AN &ldquo;AS-IS&rdquo; BASIS AND MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, WITH
                RESPECT TO THE OPERATION OF THE WEBSITE OR THE INFORMATION, CONTENT, MATERIALS OR PRODUCTS, INCLUDED ON THE WEBSITE. TO THE FULLEST EXTENT PERMITTED BY LAW, PURRX&trade; AND ITS RELATED PARTIES DISCLAIM ALL SUCH
                REPRESENTATIONS AND WARRANTIES INCLUDING, FOR EXAMPLE, WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.
            </span>
        </p>
        <p class="p2">
            <span class="s1">
                PURRX&trade; AND ITS RELATED PARTIES DO NOT HAVE ANY OBLIGATION TO VERIFY THE IDENTITY OF ANY PERSON SUBSCRIBING OR USING THIS WEBSITE. THEREFORE, WE DECLINE ALL LIABILITY WHATSOEVER FOR IDENTITY THEFT OR ANY MISUSE OF YOUR
                IDENTITY OR INFORMATION.
            </span>
        </p>
        <p class="p3"><span class="s1">IN ADDITION, PURRX&trade; AND ITS RELATED PARTIES DO NOT REPRESENT OR WARRANT THAT THE INFORMATION ACCESSIBLE VIA THE WEBSITE IS ACCURATE, COMPLETE OR CURRENT.</span></p>
        <p class="p4"><span class="s1">INDEMNIFICATION</span></p>
        <p class="p3">
            <span class="s1">
                By using this Website, you agree to defend, indemnify, and hold us, our parent companies, subsidiaries and affiliates, and each of their respective managers, members, officers, directors, affiliates, employees, contractors
                and suppliers harmless from any and all claims, liabilities, losses, damages, costs, and expenses, including but not limited to attorneys&rsquo; fees and expenses, arising from or in connection with your use of this Website
                or any Products available on or through this Website, the uploading, posting, e-mailing, or transmission of any User Content or other materials, infringement of any Proprietary Material, or any violation by you of these
                Terms and Conditions, the Privacy Policy or any other policy posted from time to time on this Website applicable to your use of this Website. We reserve the right to assume the exclusive defense and control of any matter
                otherwise subject to indemnification by you, in which event you agree to cooperate with and assist us in asserting any available defenses.
            </span>
        </p>
        <p class="p4"><span class="s1">LIMITATION OF LIABILITY</span></p>
        <p class="p2">
            <span class="s1">
                WE AND OUR RELATED PARTIES SHALL NOT BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES ARISING FROM YOUR USE OF, INABILITY TO USE, OR RELIANCE UPON THE WEBSITE, ITS CONTENT OR ANY PRODUCT
                SOLD OR ADVERTISED ON THE WEBSITE. THESE EXCLUSIONS APPLY TO ANY CLAIMS FOR INJURY, LOST PROFITS, LOST DATA, LOSS OF GOODWILL, WORK STOPPAGE, COMPUTER FAILURE OR MALFUNCTION, OR ANY COMMERCIAL DAMAGES OR LOSSES, EVEN IF WE
                KNEW OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES. BECAUSE SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR THE LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH STATES OR
                JURISDICTIONS, OUR LIABILITY, AND THE LIABILITY OF OUR RELATED PARTIES, SHALL BE LIMITED TO THE EXTENT PERMITTED BY LAW.
            </span>
        </p>
        <p class="p2">
            <span class="s1">
                WE DO NOT ENDORSE AND ARE NOT RESPONSIBLE FOR THE ACCURACY OR RELIABILITY OF ANY OPINION, INFORMATION, ADVICE OR STATEMENT ON THE WEBSITE. UNDER NO CIRCUMSTANCES WILL WE BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY YOUR
                RELIANCE ON INFORMATION OBTAINED THROUGH THE CONTENT ON THE WEBSITE OR USE OF ANY PRODUCT ADVERTISED OR SOLD ON THE WEBSITE. IT IS YOUR RESPONSIBILITY TO EVALUATE THE ACCURACY, COMPLETENESS AND/OR USEFULNESS OF ANY
                INFORMATION, OPINION, ADVICE, STATEMENT OR OTHER CONTENT AVAILABLE THROUGH THE WEBSITE. PLEASE SEEK THE ADVICE OF A PROFESSIONAL, AS APPROPRIATE, REGARDING THE EVALUATION OF ANY SPECIFIC INFORMATION, OPINION, ADVICE,
                STATEMENT OR OTHER CONTENT ON THE WEBSITE.
            </span>
        </p>
        <p class="p2">
            <span class="s1">
                IN THE EVENT OF ANY ISSUE YOU ENCOUNTER WITH THIS WEBSITE OR ANY CONTENT, YOU HEREBY ACKNOWLEDGE AND AGREE THAT YOUR SOLE REMEDY IS TO CEASE USING THIS WEBSITE. IN THE EVENT OF ANY PROBLEM WITH PRODUCTS THAT YOU HAVE
                PURCHASED THROUGH THIS WEBSITE, YOU AGREE THAT YOUR SOLE REMEDY, IF ANY, IS TO SEEK A RETURN AND REFUND FOR SUCH PRODUCTS IN ACCORDANCE WITH THE POLICIES POSTED ON THIS WEBSITE. YOU FURTHER ACKNOWLEDGE AND AGREE THAT ANY
                CAUSE OF ACTION OR CLAIM THAT YOU MAY HAVE WITH RESPECT TO YOUR USE OF THIS WEBSITE OR ANY CONTENTS OR PRODUCTS OBTAINED, PURCHASED, OR DOWNLOADED FROM THIS WEBSITE MUST BE COMMENCED NO LATER THAN ONE (1) YEAR AFTER THE
                EVENT GIVING RISE TO THE CLAIM OR CAUSE OF ACTION AROSE.
            </span>
        </p>
        <p class="p3">
            <span class="s1">
                TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, YOU AND PURRX&trade; FURTHER AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY
                PURPORTED CLASS OR REPRESENTATIVE ACTION.
            </span>
        </p>
        <p class="p4"><span class="s1">GOVERNING LAW; MISCELLANOUS</span></p>
        <p class="p2">
            <span class="s1">
                We control and operate this Website from our offices in the State of California, United States of America. We welcome visitors from all parts of the world; however, all visitors acknowledge that this Website, and all content
                and Products available on and through this Website, are governed by the laws of the United States of America and the laws of the State of California. We do not represent that the content or Products on this Website are
                appropriate or available for use in other locations. Persons who choose to access this Website from other locations do so on their own initiative, and are responsible for compliance with any applicable local laws.
            </span>
        </p>
        <p class="p2">
            <span class="s1">
                By using this Website, you agree that the laws of the State of California, excluding its conflict of laws rules, and these Terms and Conditions, our Privacy Policy and any other policies posted from time to time on this
                Website shall govern your use of this Website, its content and the purchase of any Products. Your use of this Website, its content and the purchase of any Products may also be subject to other local, state, national, and
                international laws.
            </span>
        </p>
        <p class="p2">
            <span class="s1">
                You expressly agree that exclusive jurisdiction for any claim or dispute relating in any way to this Website, its contents or the Products, resides in the courts of the County of Los Angeles, State of California. You further
                agree and expressly consent to the exercise of personal jurisdiction in federal and state courts of the County of Los Angeles, State of California, in connection with any such claim or dispute.
            </span>
        </p>
        <p class="p2">
            <span class="s1">
                If either party is required to retain the services of any attorney to enforce or otherwise litigate or defend any matter or claim arising out of, relating to or in connection with the Website, its content or the Products,
                then the prevailing party shall be entitled to recover from the other party, in addition to any other relief awarded or granted, its reasonable costs and expenses (including, without limitation, attorneys&rsquo; fees and
                costs and/or court costs) incurred in the proceeding.
            </span>
        </p>
        <p class="p2">
            <span class="s1">
                A printed version of the Terms and Conditions and of any notice or communication given in electronic form shall be admissible in judicial or administrative proceedings to the same extent and subject to the same conditions as
                other business documents and records originally generated and maintained in printed form.
            </span>
        </p>
        <p class="p2">
            <span class="s1">
                These Terms and Conditions shall be binding upon and inure to the benefit of each of the parties hereto, and their respective successors and permitted assigns. You may not assign your rights or obligations under these Terms
                and Conditions at any time. Both parties acknowledge that these Terms and Conditions express both parties entire understanding and agreement, and that there have been no warranties, representations, covenants or
                understandings made by either party to the other except such as are expressly set forth in these Terms and Conditions. The parties agree that these Terms and Conditions shall be interpreted as though co-drafted by both
                parties hereto and any rules of contract interpretation favoring one party over the other shall be disregarded. Captions and section headings used in these Terms and Conditions are for convenience only. All necessary
                provisions shall survive any termination of these Terms and Conditions for any reason. If any provision of these Terms and Conditions is found to be invalid or unenforceable, that provision will be limited or eliminated to
                the minimum extent necessary so that these Terms and Conditions will otherwise remain in full force and effect. The failure of PurRX&trade; to exercise in any respect any right provided for herein shall not be deemed a
                waiver of any of its rights hereunder. No agency, partnership, joint venture, or employment relationship is created as a result of these Terms and Conditions, and neither party has any authority of any kind to bind the other
                in any respect. Any specific right or remedy provided in these Terms and Conditions shall not be exclusive but shall be cumulative upon all other rights and remedies set forth these Terms and Conditions and allowed under
                applicable law.
            </span>
        </p>
        <p class="p3"><span class="s1">All Products ship from the United States and customers are solely responsible for the payment of any applicable customs, import, export, and excise duty, VAT and/or other taxes and fees.</span></p>
        <p class="p5">&nbsp;</p>
        <p class="p6"><span class="s1">CONTACT</span></p>
        <p class="p7">
            <span class="s1">
                PurRX&trade; Product Support&nbsp;<br />
                <a href="mailto:support@trypurrx.com">support@trypurrx.com</a>&nbsp;<br />
                <a href="tel:(888) 256-7732">(888) 256-7732</a>
            </span>
        </p>
        <p class="p2"><span class="s1">Effective date: 2/28/17</span></p>