<div id="mainContainer" style="margin-top: 0px; min-height: 0px;">
  <div id="breadcrumbs-wrapper">
    <div class="container">
      <div class="breadcrumbs">
        <a id="catCrumbHomeLink" [routerLink]="['']">Home</a>&nbsp;&gt;&nbsp;
        Reset Password
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <!--START: LEFT BAR-->
      <!--END: LEFT BAR-->
      <!--START: FRAME_MID-->
      <section id="loginAccount">
        <!--START: BODY_HEADER-->

        <!--END: BODY_HEADER-->
        <h1 class="page_headers">Reset Password</h1>
        <!--START: error_message-->
        <!--END: error_message-->
        <div class="alpha-col">
          <!-- <div class="header">
            <h3>Existing Members</h3>
          </div> -->
          <div class="myaccountLogin pad10">
            <form id="frmForm" name="loginForm" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
              <div class="loginField">
                <input type="password" autocomplete="off" name="password" value="" size="20" maxlength="15" minlength="6" tabindex="1"
                  placeholder="Password*" class="txtBoxStyle" [(ngModel)]="model.password" #password="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required>
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                      <div *ngIf="password.errors.required">
                        Password is required.
                      </div>
                      <div *ngIf="password.errors.minlength">
                          Password should be more than 5 character.
                      </div>
                      <div *ngIf="password.errors.maxlength">
                          Password should be less than 15 character.
                      </div>

                    </div>
                      <div class="clear"></div>
              </div>
              <br>
              <div class="loginField">
                <input type="password" autocomplete="off" name="confirm-password" value="" size="20" minlength="6"
                  maxlength="15" tabindex="2" placeholder="Confirm Password*" (blur)="checkConfirmPassword()" class="txtBoxStyle" [(ngModel)]="model.confirmPassword"
                  #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }"
                  required>
                  <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="text-danger">
                      <div *ngIf="confirmPassword.errors.required">
                          Confirm password is required.
                      </div>
                  </div>
                  <div *ngIf="!isPasswordMatched && !confirmPassword.errors?.required" class="text-danger">
                          Confirm password does not match with password field
                  </div>

                <div class="clear"></div>
              </div>
              <br>
              <br>
              <div class="submit-button">
                <button type="submit" id="submitted" name="submitted" class="btn" [disabled]="!f.form.valid || !isPasswordMatched || showLoader">
                  <span *ngIf="showLoader == true"><i class="fa fa-refresh fa-spin"></i></span> {{loginButtonText}} </button>
              </div>

            </form>
          </div>
          <div class="clear"></div>
        </div>
      </section>
      <!--END: FRAME_MID-->
    </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>